<h1>Session Editor</h1>
<h4>(admin-only)</h4>

<a href='<%= sessions_path %>'>All Sessions</a>
	| 
<a href='<%= new_session_path %>'>New Session</a>

<p>Make changes to the settings of a logged-on user.</p>

<!-- <a href=' session_path(@session.id) '>Show</a> -->
<a href='#'>Show</a>
	| 
<a href='#' data-method='delete'>Delete</a>
<!-- <a href=' session_path(@session.id) ' data-method='delete'>Delete</a> -->

