<div id='about-div' class='border'>
	<p>
		<strong>Sonic Flux</strong> was written by <a href='http://www.linkedin.com/in/martinpuryear'>Martin Puryear</a>.  It was created in 2014 as a project at the Coding Dojo in Bellevue WA.  It integrates various technologies across a full web stack, including JQuery, Bootstrap, HTML5 Canvas, JavaScript, AJAX, NodeJS, Express.IO, MySql, Ruby and Rails.  
	</p>
	<p>
		Upcoming features will leverage technologies such as SVG, D3JS, WebAudio, WebRTC and MongoDB.  
	</p>
	<p>
		<a href="mailto:martinp@stanfordalumni.org">Martin</a> lives in Redmond, WA with his wife and four kids.
	</p>
</div>