<div id='intro-div' class='border'>
	<p>
		What is <strong>Sonic Flux</strong>?
	</p>
	<p>
		Sonic Flux is a fun, interactive way to sharpen your music knowledge and listening skills.  It is easy to get started, and the game keeps pace with you as your abilities grow.
	</p>
	<p>
		Find others online for head-to-head competition.  Watch your progress over time with trending and leaderboards.  
	</p>
	<p>
		<strong>Interested?</strong>  <a href='/signup'>Sign up</a>/<a href='/signin'>sign in</a> to save your progress, or just <a href='/play'>jump in</a> as a guest and get started now!
	</p>
</div>
